@using Microsoft.AspNetCore.Authentication;
@model ShaTaskApp.Models.Business.CreateCashier

@{
    ViewBag.Title = "Create Cashier";
}


<section class="ftco-section">
    <div class="container bg-infdo w-50">

        <div class="row justify-content-center ">
            <div class="col-md-12 col-lg-10">

                <div class="login-wrap p-4 p-md-5 ">
                    <div class="d-flex ">
                        <div class="w-100">
                            <h3 class="mb-4">Create Cashier</h3>
                        </div>

                    </div>
                    <form method="post" class="signin-form">

                        <div class="form-group mb-3">
                            <label class="label" asp-for="FirstName">First Name</label>
                            <input type="text" class="form-control" asp-for="FirstName" placeholder="First Name" required>
                            <span class="validate-color" asp-validation-for="FirstName"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label class="label" asp-for="LastName">Last Name</label>
                            <input type="text" class="form-control" asp-for="LastName" placeholder="Last Name" required>
                            <span class="validate-color" asp-validation-for="LastName"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label class="label" asp-for="PhoneNumber">Phone Number</label>
                            <input type="text" class="form-control" asp-for="PhoneNumber" placeholder="Phone Number" required>
                            <span class="validate-color" asp-validation-for="PhoneNumber"></span>
                        </div>
                        <div asp-validation-summary="All" class="validate-color"></div>

                        <div class="form-group">
                            <button type="submit" class="form-control btn btn-primary rounded submit px-3">Craete</button>
                        </div>
                 
                    </form>

                  
                </div>
            </div>
        </div>
    </div>

</section>



