@{
    ViewData["Title"] = "Alert";
    string alertType = ViewBag.AlertType as string ?? "success"; // Use default if AlertType not set

}

<div class="alert alert-@alertType col-6 m-auto" role="alert">
    @ViewBag.AlertTitle
    <div class="alert alert-info p-4 my-3" role="alert">
        @ViewBag.AlertMessage
    </div>
</div>
